<div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          
          
         
        </div>
        <div class="user-details">
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" placeholder="Enter your password" required>
        </div>
      </div>
        
        <div class="button">
          <input type="submit"  value="Sign in">
        </div>

        <div class="container signin">
            <p>Not have an account? <a href="/register">register</a>.</p>
          </div>
      </form>
    </div>
  </div>
